# ETL test output (terminal):

 
 qntd inicial de vetores 167
Tentou inserir 37 questões do assunto math no vectorDB
Foram inseridas  37 questões do assunto math no vectorDB, para um total de 204 questões
Tentou inserir 29 questões do assunto natu no vectorDB
Foram inseridas  29 questões do assunto natu no vectorDB, para um total de 233 questões
 
 qntd inicial de vetores 233
texto da matéria eng vazio, pulando
Tentou inserir 3 questões do assunto spani no vectorDB
Foram inseridas  3 questões do assunto spani no vectorDB, para um total de 236 questões
Tentou inserir 24 questões do assunto lang no vectorDB
Foram inseridas  24 questões do assunto lang no vectorDB, para um total de 260 questões
Tentou inserir 26 questões do assunto huma no vectorDB
Foram inseridas  26 questões do assunto huma no vectorDB, para um total de 286 questões


# Todas as questões das provas do folder (excluindo as com imagens) foram adicionadas, um total de 119 questões de 5 matérias diferentes 
